/**
 * @name Depth
 * @version 1.0.1
 * @author flo.a#0
 * @authorId 1159169564580515941
 * @description Coming soon
 * @source https://github.com/toolkitr/depth/new/main
 * @website https://github.com/toolkitr/depth/new/main
 * @donate https://github.com/toolkitr/depth/new/main
 * @invite xxxxxx
*/

/* Imports */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Clients/betterdiscord.css");

:root,
.theme-dark {
    --text-normal: #dcddde;
    --text-muted: #4a4a52;
    --text-link: #6462a3;
    --text-positive: #50dc7d;
    --text-warning: #8d4949;
    --text-danger: #8d4949;
    --text-brand: #6462a3;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #c9ced0;
    --interactive-muted: #4f545c;
    --background-primary: #14171a;
    --background-secondary: #14171a;
    --background-secondary-alt: #14171a;
    --background-tertiary: #171a1c;
    --background-accent: #4f545c;
    --background-floating: #14171a;
    --modal-background: #171a1c;
    --channeltextarea-background: #14171a;
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-warning-foreground: #6462a3;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --background-mentioned: #6f6af62c;
    --background-mentioned-hover: #6f6af615;
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --scrollbar-auto-thumb: #6462a3;
    --brand-experiment: #6462a3;
    --brand-experiment-hover: #6f6af64d;
    --brand-experiment-560: #6462a3;
    --channels-default: #4a4a52;
    --selected-indicator: #97ffa5;
    --hover-indicator: #ffffff;
    --font: "Lato";
    --code-font: "Source Code Pro";
    --boost-bar: none;
}

/* Made By Flowa */
